include _vars
include _mixins
doctype html
html(lang="ru")
    head
        block head
            title PageTitle

        // SEO
        meta(charset="utf-8")
        meta(name="keywords" content="...")
        meta(name="description" content="...")

        // Initial settings
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="format-detection" content="telephone=no")

        // Favicon
        link(rel="shortcut icon" href="images/favicons/favicon.ico" type="image/x-icon")

        // CSS
        link(rel="stylesheet" href="css/main.min.css")

    block variables 
        - var layoutClass = ''
    body
    
        // >>> LAYOUT >>>
        .layout(class= layoutClass)
            block header
                include ../blocks/_header

            block main
                include ../blocks/_main


            block footer
                include ../blocks/_footer
        // <<< LAYOUT <<<
        block js
            script(src="js/main.min.js")