//- If your mixin requires the ability to add classes, id and other attributes to some element inside, add "&attributes(attributes)" to that element. 
//- Only works for a single element. There are examples below.
mixin icon(name,width)
    if !width
        span(class="icon svg-image-" + name)&attributes(attributes)
    else
        span(class="icon svg-image-" + name style="width:" + width + "px")&attributes(attributes)


mixin use(name,width,height)
    svg(width=width height=height viewBox="0 0 "+ width +" "+ height).icon&attributes(attributes)
        use(xlink:href="images/sprites/main.stack.svg#image-" + name)


mixin picture(name,ext,x2)
    if !x2
        picture.picture.object-fit-cover&attributes(attributes)
            source.object-fit-cover(srcset="images/" + name + ".webp" type="image/webp")
            img.picture__img.object-fit-cover(src="images/" + name + "." + ext alt="")
    else
        picture.picture.object-fit-cover&attributes(attributes)
            source.object-fit-cover(srcset="images/" + name + ".webp, images/" + name + "@2x.webp 2x" type="image/webp")
            img.picture__img.object-fit-cover(src="images/" + name + "." + ext srcset="images/" + name + "." + ext + ", images/" + name + "@2x." + ext + " 2x" alt="")
