@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Regular.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: swap
}
@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Medium.ttf);
  font-weight: 500;
  font-style: normal;
  font-display: swap
}
@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Bold.ttf);
  font-weight: 700;
  font-style: normal;
  font-display: swap
}
@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Black.ttf);
  font-weight: 900;
  font-style: normal;
  font-display: swap
}
.btn {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  border-radius: 40px;
  padding: 18px 45px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 31px 0 rgba(0,0,0,.1490196078)
}
.btn-header-primary {
  color: #112d57;
  border: 1px solid #fff
}
@media (max-width:523px) {
  .btn-header-primary {
    padding: 18px 80px
  }
}
.btn-header-primary:focus {
  outline: 1px solid #112d57
}
.btn-header-primary:hover {
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  transition: all .3s ease-in-out
}
.btn-header-secondary {
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff
}
@media (max-width:523px) {
  .btn-header-secondary {
    padding: 18px 80px
  }
}
.btn-header-secondary:focus {
  outline: 1px solid #112d57
}
.btn-header-secondary:hover {
  color: #112d57;
  background-color: #fff;
  border: 1px solid #fff;
  transition: all .3s ease-in-out
}
.btn-primary {
  color: #fff;
  background-color: #03d6f3;
  border: 1px solid #03d6f3
}
.btn-primary:focus {
  outline: 1px solid #fff
}
.btn-primary:hover {
  color: #30d7ba;
  background-color: transparent;
  border: 1px solid #30d7ba;
  transition: all .3s ease-in-out
}
.btn-secondary {
  color: #30d7ba;
  background-color: transparent;
  border: 1px solid #30d7ba
}
.btn-secondary:focus {
  outline: 1px solid #fff
}
.btn-secondary:hover {
  color: #fff;
  background-color: #03d6f3;
  border: 1px solid #03d6f3;
  transition: all .3s ease-in-out
}
@media (max-width:523px) {
  #sign-up-btn {
    padding: 18px 29px
  }
}
.burger-menu {
  width: 45px;
  height: 26px;
  background-color: transparent;
  border: none;
  padding: 0;
  position: relative;
  display: none;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center
}
@media (max-width:523px) {
  .burger-menu {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: 27px
  }
}
.burger-menu span,
.burger-menu span::after,
.burger-menu span::before {
  display: block;
  height: 4px;
  background-color: #fff
}
.burger-menu span {
  width: 30px
}
.burger-menu span::after {
  content: "";
  width: 15px;
  position: absolute;
  bottom: 0;
  right: 0
}
.burger-menu span::before {
  content: "";
  width: 100%;
  position: absolute;
  top: 0;
  right: 0
}
* {
  box-sizing: border-box
}
html {
  font-family: Poppins,sans-serif;
  line-height: normal;
  font-style: normal;
  font-size: 15px;
  font-weight: 400
}
body {
  margin: 0;
  padding: 0
}
.container {
  width: 100%;
  max-width: 1313px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0
}
.h1-55pt,
h1 {
  font-size: 55px;
  font-weight: 900;
  line-height: 65px
}
@media (max-width:523px) {
  .h1-55pt,
  h1 {
    font-size: 46px;
    font-weight: 500;
    line-height: 57px
  }
}
h2 {
  font-size: 46px;
  font-weight: 500;
  line-height: 57px
}
.h3-30pt,
h3 {
  font-size: 30px;
  font-weight: 700;
  line-height: 33px
}
.h4-16pt,
h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px
}
p {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  margin: 0
}
ol,
ol li,
ul,
ul li {
  list-style: none;
  margin: 0;
  padding: 0
}
.header-section .container {
  height: 120px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between
}
@media (max-width:523px) {
  .header-section .container {
    height: 107px;
    padding: 0 25px
  }
}
.header-section .container .logo-wrapper {
  width: 186px;
  height: 58px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center
}
@media (max-width:523px) {
  .header-section .container .logo-wrapper {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
  }
}
.header-section .container .logo-wrapper img {
  width: 100%;
  height: 100%
}
@media (max-width:523px) {
  .header-section .container .main-menu {
    display: none
  }
}
.header-section .container .main-menu__list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 50px
}
.header-section .container .main-menu__list .link {
  display: block;
  text-decoration: none;
  color: #fff
}
.header-section .container .main-menu__list .link:hover {
  opacity: .7
}
.main-section {
  height: 100%;
  background: linear-gradient(230.95deg,#cb1ae8 -.37%,#37bda6 100%);
  margin-top: -120px;
  margin-bottom: 110px
}
@media (max-width:523px) {
  .main-section {
    margin-top: -107px;
    margin-bottom: 105px
  }
}
.main-section .container {
  padding-top: 240px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center
}
@media (max-width:523px) {
  .main-section .container {
    padding-top: 162px
  }
}
.main-section .container .content-wrapper {
  max-width: 650px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 20px;
  padding-bottom: 70px
}
@media (max-width:523px) {
  .main-section .container .content-wrapper {
    max-width: 355px;
    padding-bottom: 55px
  }
}
.main-section .container .content-wrapper h1 {
  color: #fff;
  text-align: center
}
.main-section .container .content-wrapper p {
  color: #e5e5e5;
  text-align: center
}
.main-section .container .button-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 13px;
  padding-bottom: 80px
}
@media (max-width:523px) {
  .main-section .container .button-wrapper {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
  }
}
.main-section .container .image-wrapper {
  max-width: 1000px;
  padding-bottom: 60px
}
@media (max-width:523px) {
  .main-section .container .image-wrapper {
    max-width: 385px;
    padding-bottom: 35px
  }
}
.main-section .container .image-wrapper img {
  width: 100%;
  height: 100%
}
.feature-section .container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 100px
}
@media (max-width:523px) {
  .feature-section .container {
    margin-bottom: 55px
  }
}
.feature-section .container h2 {
  max-width: 785px;
  text-align: center;
  margin-bottom: 100px
}
@media (max-width:523px) {
  .feature-section .container h2 {
    max-width: 285px;
    margin-bottom: 45px
  }
}
.feature-section .container .feature-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 30px;
  padding-bottom: 190px
}
@media (max-width:523px) {
  .feature-section .container .feature-list {
    padding-bottom: 95px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 64px
  }
}
.feature-section .container .feature-list .feature-list__item {
  width: 405px;
  height: 440px;
  border-radius: 10px;
  box-shadow: 0 4px 31px 0 rgba(0,0,0,.1490196078);
  padding: 60px 50px 50px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 40px
}
@media (max-width:523px) {
  .feature-section .container .feature-list .feature-list__item {
    height: 405px;
    padding: 40px 50px 50px;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 20px
  }
}
.feature-section .container .feature-list .feature-list__item .text-wrapper {
  padding: 0 10px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 30px
}
@media (max-width:523px) {
  .feature-section .container .feature-list .feature-list__item .text-wrapper {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
  }
}
.feature-section .container .feature-list .feature-list__item .text-wrapper p {
  color: #5c5c5c
}
@media (max-width:523px) {
  .feature-section .container .feature-list .feature-list__item .text-wrapper p {
    text-align: center
  }
}
.feature-section .container .feature-list .feature-list__item .text-wrapper a {
  color: #03d6f3;
  text-decoration: none
}
.feature-section .container .feature-list .feature-list__item .text-wrapper a:hover {
  text-decoration: underline
}
.feature-section .container .feature-list .active {
  background: linear-gradient(230.95deg,#cb1ae8 -.37%,#37bda6 100%)
}
.feature-section .container .feature-list .active .text-wrapper {
  color: #fff
}
.feature-section .container .feature-list .active .text-wrapper p {
  color: #fff
}
.feature-section .container .feature-list .active .text-wrapper a {
  color: #fff
}
.process-section .container {
  max-width: 1125px
}
@media (max-width:523px) {
  .process-section .container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 65px
  }
}
.process-section .container .text-wrapper {
  max-width: 490px;
  float: left;
  margin-bottom: 36px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 45px
}
@media (max-width:523px) {
  .process-section .container .text-wrapper {
    max-width: 355px;
    margin: 0;
    gap: 34px
  }
}
.process-section .container .text-wrapper p {
  color: #5c5c5c
}
.process-section .container .image-wrapper {
  float: right
}
.process-section .container .image-wrapper img {
  width: 516px;
  height: 486px
}
@media (max-width:523px) {
  .process-section .container .image-wrapper img {
    width: 463px;
    height: 395px
  }
}
.process-section .container .button-wrapper {
  float: left;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  gap: 22px
}
@media (max-width:523px) {
  .process-section .container .button-wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
  }
  .process-section .container .button-wrapper button.btn {
    padding: 18px 107px
  }
}
.process-section .clearfix {
  clear: both;
  margin-bottom: 200px
}
.operation-section .container {
  max-width: 1160px
}
@media (max-width:523px) {
  .operation-section .container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 60px
  }
}
.operation-section .container .text-wrapper {
  max-width: 545px;
  float: right;
  margin-bottom: 36px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 45px
}
@media (max-width:523px) {
  .operation-section .container .text-wrapper {
    max-width: 355px;
    margin: 0;
    gap: 34px
  }
  .operation-section .container .text-wrapper .first-title {
    display: none
  }
}
.operation-section .container .text-wrapper .second-title {
  display: none
}
@media (max-width:523px) {
  .operation-section .container .text-wrapper .second-title {
    display: block
  }
}
.operation-section .container .text-wrapper p {
  color: #5c5c5c
}
.operation-section .container .text-wrapper a {
  display: none
}
@media (max-width:523px) {
  .operation-section .container .text-wrapper a {
    display: block;
    line-height: 27px;
    color: #5c5c5c;
    text-transform: uppercase;
    text-decoration: none
  }
}
.operation-section .container .button-wrapper {
  float: left;
  margin-left: 60px
}
@media (max-width:523px) {
  .operation-section .container .button-wrapper {
    margin: 0
  }
}
.operation-section .container .image-wrapper {
  float: left
}
.operation-section .container .image-wrapper img {
  width: 516px;
  height: 538px
}
@media (max-width:523px) {
  .operation-section .container .image-wrapper img {
    width: 463px;
    height: 387px
  }
}
.operation-section .clearfix {
  clear: both;
  margin-bottom: 200px
}
.business-section .container {
  max-width: 1260px
}
@media (max-width:523px) {
  .business-section .container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 65px
  }
}
.business-section .container .text-wrapper {
  max-width: 400px;
  float: left;
  margin-bottom: 36px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 45px
}
@media (max-width:523px) {
  .business-section .container .text-wrapper {
    max-width: 394px;
    margin: 0;
    text-align: center;
    gap: 34px
  }
}
.business-section .container .text-wrapper p {
  max-width: 321px;
  color: #5c5c5c
}
.business-section .container .image-wrapper {
  float: right
}
.business-section .container .image-wrapper img {
  width: 762px;
  height: 545px
}
@media (max-width:523px) {
  .business-section .container .image-wrapper img {
    width: 463px;
    height: 255px
  }
}
.business-section .container .button-wrapper {
  float: left;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  gap: 13px
}
@media (max-width:523px) {
  .business-section .container .button-wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
  }
  .business-section .container .button-wrapper button.btn {
    padding: 30px 85px
  }
}
.business-section .clearfix {
  clear: both;
  margin-bottom: 170px
}
.pricing-section .container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 63px;
  margin-bottom: 50px
}
.pricing-section .container .text-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  gap: 30px
}
@media (max-width:523px) {
  .pricing-section .container .text-wrapper {
    max-width: 340px
  }
}
.pricing-section .container .text-wrapper p {
  color: #5c5c5c
}
@media (max-width:523px) {
  .pricing-section .container .text-wrapper p {
    max-width: 280px
  }
}
.pricing-section .container .pricing-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 33px;
  padding-bottom: 80px
}
@media (max-width:523px) {
  .pricing-section .container .pricing-list {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }
}
.pricing-section .container .pricing-list__item {
  width: 335px;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  padding: 50px 35px 40px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}
.pricing-section .container .pricing-list__item h3 {
  padding-bottom: 10px
}
.pricing-section .container .pricing-list__item p.h4-16pt {
  color: #5c5c5c;
  font-size: 12px;
  line-height: 18px;
  padding-bottom: 30px
}
.pricing-section .container .pricing-list__item img {
  padding-bottom: 30px
}
.pricing-section .container .pricing-list__item .price-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 10px;
  padding-bottom: 40px
}
.pricing-section .container .pricing-list__item .price-wrapper p.h1-55pt {
  color: #30d7ba
}
.pricing-section .container .pricing-list__item .price-wrapper .dollar-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 5px
}
.pricing-section .container .pricing-list__item .price-wrapper .dollar-wrapper p.h3-30pt {
  color: #30d7ba
}
.pricing-section .container .pricing-list__item .price-wrapper .dollar-wrapper p.h4-16pt {
  color: #5c5c5c;
  padding: 0
}
.pricing-section .container .pricing-list__item .service-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 20px;
  padding-bottom: 40px
}
.pricing-section .container .pricing-list__item .service-list__item.inactive {
  color: #5c5c5c
}
.pricing-section .container .pricing-list button.btn.btn-primary {
  padding: 18px 82px
}
.subscribe-section hr {
  max-width: 865px;
  margin: 0 auto 120px
}
@media (max-width:523px) {
  .subscribe-section hr {
    max-width: 455px
  }
}
.subscribe-section .container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center
}
.subscribe-section .container .text-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 27px;
  padding-bottom: 70px
}
.subscribe-section .container .text-wrapper h2 {
  text-transform: uppercase
}
.subscribe-section .container .text-wrapper p {
  color: #5c5c5c;
  text-align: center
}
.subscribe-section .container form {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 10px;
  padding-bottom: 110px
}
@media (max-width:523px) {
  .subscribe-section .container form {
    max-width: 483px;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 12px
  }
}
.subscribe-section .container form input {
  font-family: sans-serif;
  font-weight: 700;
  color: #5c5c5c;
  background-color: #e5e5e5;
  padding: 14px 28px;
  border: 1px solid #5c5c5c;
  border-radius: 6px
}
@media (max-width:523px) {
  .subscribe-section .container form input {
    width: 100%;
    text-align: center;
    border-radius: 7px
  }
}
.subscribe-section .container form input:focus {
  outline: 1px solid #5c5c5c
}
.subscribe-section .container form input::-webkit-input-placeholder {
  color: #5c5c5c
}
.subscribe-section .container form input::-moz-placeholder {
  color: #5c5c5c
}
.subscribe-section .container form input:-ms-input-placeholder {
  color: #5c5c5c
}
.subscribe-section .container form input::placeholder {
  color: #5c5c5c
}
.subscribe-section .container form button.btn.btn-primary {
  padding: 18px 46px;
  text-transform: uppercase
}
@media (max-width:523px) {
  .subscribe-section .container form button.btn.btn-primary {
    width: 100%;
    text-align: center;
    border-radius: 7px;
    padding: 23px 0
  }
}
.footer-section {
  background-color: #112d57
}
.footer-section .container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center
}
@media (max-width:523px) {
  .footer-section .container {
    padding-top: 72px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }
}
.footer-section .container a {
  color: #fff;
  text-decoration: none
}
.footer-section .container a:hover {
  opacity: .7
}
.footer-section .container .footer-list {
  padding-right: 75px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 30px
}
.footer-section .container .price-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 30px
}
.footer-section .container iframe {
  margin: 62px 87px;
  border-radius: 22px
}
.footer-section .container .contact-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 43px
}
.footer-section .container .contact-wrapper .contact-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 17px
}
.footer-section .container .contact-wrapper .contact-list__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start
}
.footer-section .container .contact-wrapper .contact-list__item img[alt=Geolocation] {
  margin-left: -13px
}
.footer-section .container .contact-wrapper .contact-list__item img[alt=Phone] {
  margin-right: 10px
}
.footer-section .container .contact-wrapper .social-media {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  gap: 28px
}
@media (max-width:523px) {
  .footer-section .container .contact-wrapper .social-media {
    padding-bottom: 90px
  }
}
/*# sourceMappingURL=maps/main.css.map */
