@mixin xl {
  @media (min-width: 1600px) {
    @content;
  }
}

@mixin lg {
  @media (min-width: 1300px) and (max-width: 1599px) {
    @content;
  }
}

@mixin md {
  @media (min-width: 1000px) and (max-width: 1299px) {
    @content;
  }
}

@mixin sm {
  @media (min-width: 700px) and (max-width: 999px) {
    @content;
  }
}

@mixin xs {
  @media (max-width: 699px) {
    @content;
  }
}

@mixin font-face($font-name, $font-file) {
  @font-face {
    font-family: "#{$font-name}";
    font-display: swap;
    src: url("../fonts/#{$font-file}.woff") format("woff"), url("../fonts/#{$font-file}.woff2") format("woff2");
  }
}
